<!DOCTYPE html>
<html>
  <head>
    <title>CompositApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |k,v| %>
      <div class="alert alert-success ">
        <%=v%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
